.MainDiv {
  right: 0%;
  display:none;
}  

.Paragraphs {
  color: whitesmoke;
  font-size: large;
}
.Paragraphs button {
  
    /* width: 70%;
    height: 8%; */
    margin-left: 2%;
    color: #fbdedb;
    background-color: #fbdedb;
/*     display: inline-block;
 */    background: #103c52ec;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;

    font-size: 100%;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    border-radius: 5%;
    cursor: pointer;
  }
  .Paragraphs button:active{
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
  }
  .Paragraphs [disabled] {
    cursor:not-allowed;
  }

 .wrapper{
  position: absolute;
  width:90%;
  height: 80%;
  background: 
    center url('../../images/europe.PNG');
    background-size: contain;
  right: 0%;
  border: 2px dotted #4286f4;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.Teams { 
  position: absolute;
  display: flex;
  
  border-radius: 3%;
  width:92%;
  height: auto;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
 /*  background: 
    center url('../../images/europe.PNG');
    background-size: contain; */

}

.Preview {
  position: fixed;
  width: 20%;
  height: 80%;
  margin-left: 1%;
  border: 1px solid black;
}


.Teams img{
  width: 9.5%;
  height: 9.5%;
  /* margin-left: 1px; */
}
.Teams img:hover {
  background: radial-gradient(circle at center, rgba(255, 0, 0, 0.741) 0, rgba(255, 255, 255, 0));
}

.Disable:hover {
  cursor: not-allowed;
}