.MainDiv {
  display:none
}  
.Teams { 
  display: flex;
  border: 1px solid pink;
  width:90%;
  height: auto;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.Preview {
  position: fixed;
  width: 20%;
  height: 80%;
  margin-left: 1%;
  border: 1px solid black;
}


img{
  width: 9.5%;
  height: 9.5%;
  margin-left: 1px;
}

.Disable:hover {
  cursor: not-allowed;
}