.Pitch, .SidebarPitch {
  position: fixed;
  margin: 1% 0% 0% 5%;
/*   border: 2px dotted orange;*/  
  height: 88%;
  width: 78%;
  float: right;
  right: 1%;
  transition: all 500ms;
  overflow: auto;
}

.SidebarPitch{
  width: 80%;
}

.LargerPitch {
  position: fixed;
  margin: 1% 0% 0% 6%; 
/*   border: 2px dotted orange;
 */  height: 88%;
  width: 92%;
  float: right;
  right: 1%;
  transition: all 500ms;
  overflow: auto;
}

@media(orientation: portrait) {
  .Pitch, .SidebarPitch{  
    position: relative;
    margin: 1% 0% 0% 5%;
  /*border: 2px dotted orange; */
    height:auto;
    width: 98%;
    right: 1%;
    transition: all 500ms;
    float: none;
    overflow: visible;
  }
  .SidebarPitch{
    width: 80%;
  }
} 