.Pitch, .SidebarPitch {
  position: fixed;
  margin: 1% 0% 0% 5%;
/*   border: 2px dotted orange;*/  
  height: 87%;
  width: 78%;
  float: right;
  right: 1%;
  transition: all 500ms;
}

.SidebarPitch{
  width: 80%;
}

.LargerPitch {
  position: fixed;
  margin: 1% 0% 0% 7%; 
/*   border: 2px dotted orange;
 */  height: 85%;
  width: 92%;
  float: right;
  right: 1%;
  transition: all 500ms;
}
