.Table
{   position: absolute;
    border: 1px solid #333;
    margin-left: 1%;
    /* background-color: rgba(51, 51, 51) */
   height: 90%;
   width: 60%;
}
.TableRow {
  border: 1px solid #333;
  background-color: rgba(51, 51, 51, 0.4)
}
td {
  color: rgb(230, 211, 211);
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.small {
  min-width: 6%;
  max-width: fit-content; /*don't think it works like I want */
}