.Table
{   position: absolute;
    border: 1px solid #333;
/*      margin-left: 1%;
 */    /* background-color: rgba(51, 51, 51) */
   max-height: 90%;
   min-height: 80%;
   width: 60%;
   display: table;
    border-collapse: separate;
    border-spacing: 2px;
    overflow: scroll;
}
.TableRow {
  border: 1px solid #333;
  background-color: rgba(17, 17, 158, 0.8)
}
td {
  color: rgb(230, 211, 211);
}

.Table th {
    background-color: goldenrod;
    color: whitesmoke;
    font-weight:lighter;
}
.small {
  min-width: 8%;
  max-width: fit-content; /*don't think it works like I want */
}


.everyOther {
  background-color:rgba(21, 29, 105, 0.8)
}

.TableRow td {
  max-height: 2%;
}

/*  .TableRow td img {
  width: 5%;
  height: 7%;
  float: left;
  margin-left: 2%;
  object-fit: scale-down;
  object-fit: contain;
}  */