.Preview {
  /* display: flex;*/
  position: fixed;
  /*flex-direction: column; */
  margin-top: 0%;
  height: 90%;
  width: 25%;
  border: 1px solid red;
  /* z-index: 1; */
  background-color: rgb(212, 156, 240);
  /*flex-wrap: nowrap;
   justify-content: space-between; */
  /* flex-basis: 30% 5%; */
  overflow: auto;
}
.BackButtons {
  /* display: inline-block; */
  background-color: gray;
  border: 1px solid blue;
  border-radius: 5%;
  width: 40%;
  height: 5%;
  margin: 1% 0% 0% 5%;
}
.BackButtons:hover{
  cursor: pointer;
} 

.Preview div img {
  width: 15%;
  height: 100%;
  margin-top: 1%;
}
  
.Preview div {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Preview p {
  margin-left: 1%;

}