
.Preview {
  /* display: flex;*/
  font-family: 'Roboto Slab', serif;
  z-index: 3;
  position: fixed;
  /*flex-direction: column; */
  top: 1%;
  height: 100%;
  width: 28%;
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000046, #1592b5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000046,#1592b5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  /*flex-wrap: nowrap;
   justify-content: space-between; */
   border-radius: 0% 10% 0% 0%;  
   overflow: auto;
   scroll-behavior: smooth;
    /*firefox*/
   scrollbar-width: thin;          /* "auto" or "thin" */
   scrollbar-color: blue rgb(0, 166, 255);

   transition: all 400ms;
   transform: translateY(0);
}

.Close {
  transform: translateY(+100%);
}

.BackButtons {
  /* display: inline-block; */
  width: 30%;
  padding: 1% 1% 1% 1%;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  background: rgba(37, 23, 160, 0.925);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
  font-size: .85em;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: relative;
  opacity: 0.8;
}
.BackButtons:hover{
  cursor: pointer;
  opacity: 1;
  color: red;
} 

.Preview form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
  .Preview input{
    margin: 2% 0% 2% 0%;
    width: 60%;
    background-color: whitesmoke;
    font-family: 'Roboto Slab', Times, serif;
    font-size: 90%;
    text-align: center;
    border-bottom: 2px rgba(37, 23, 160, 0.925) dotted;
  }
  .Preview input::placeholder{
    color:black;
    opacity: 0.6;
  }
  .Preview form button {
    padding: 1% 1% 1% 1%;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #968888;
    background-color: #fbdedb;
    display: inline-block;
    background: #373B44;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.4rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    opacity: 0.7;
    cursor: not-allowed;
  } 
  .Preview .Start {
    background: rgba(37, 23, 160, 0.925);  
    cursor: pointer;
    width: 70%;
    opacity: 1;
    color: #4286f4;
  }
  .Start:hover{
    color: whitesmoke;
  }

  /* emblem - name - stats*/
.Preview div { 
  color:whitesmoke;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3% 0% 0% 2%;
  cursor: default;
}
  .Preview div img {
    width: 12%;
    height: 100%;
    margin-top: 0%;
}
  .Preview img + p {
    cursor:crosshair;
  }
  .Preview div:hover{
    background: radial-gradient(circle at center, rgba(255, 0, 0, 0.741) 0%, rgba(255, 255, 255, 0) 95%);
}

.Preview p {
  margin: 0% 0% 0% 3%;
}

.Preview .clubName {
  white-space: nowrap;
}



/*width*/
 ::-webkit-scrollbar {
   width:8px;
   height: 8px;
 }
/*track*/
 ::-webkit-scrollbar-track {
   box-shadow:inset 0 0 5px rgb(66, 162, 179);
   border-radius:10px;
 }
/*thumb*/
 ::-webkit-scrollbar-thumb {
   background:rgb(17, 0, 255);
   border-radius:10px;
   border: 1px solid white;
 }


 @media(orientation: portrait){

  .Preview {
    position: absolute;
    z-index: 5;
    top: 10%;
    max-height: 40%;
    width: 100%;  
    border-radius: 10%;
  }
  .Close {
    transform: translateY(-200%);
  }
  .BackButtons {
    position: sticky;
  }
 }